In [1]:
import sklearn

In [3]:
from sklearn.datasets import load_iris

In [16]:
iris_dataset = load_iris()
print(iris_dataset.keys())
print(iris_dataset['data'][:5])

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [9]:
print(iris_dataset['target_names'])
print(iris_dataset['feature_names'])

['setosa' 'versicolor' 'virginica']
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [14]:
import pandas as pd

df = pd.DataFrame(iris_dataset['data'], columns=iris_dataset['feature_names'])
#display(df)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [15]:
#print(iris_dataset)

In [1]:
import torch

In [2]:
import tensorflow as tf

In [ ]:
import sklearn